/* Global Variables */
:root {
  --main-bg-color: #191919;
  --main-text-color: #e1e1e1;
}
/* Font Import */
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
