/* ANCHOR Global*/
:root {
  --main-bg-color: #191919;
  --main-text-color: #e1e1e1;
  --darker-text-color: #979797;
  --purple-color: #cb06d9;
  --yellow-color: #c1de04;
  --blue-color: #03bfee;
  --font: "Inconsolata", monospace;
  --line: 3ch;
  --font-scale: 0.5vw;
}

/* ANCHOR Fonts */
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ANCHOR Main */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  font-weight: 500;
  font-style: normal;
  line-height: var(--line);
  font-size: calc(1rem + var(--font-scale));
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

body.invert {
  --main-bg-color: #dfdfdf;
  --main-text-color: #141414;
  --darker-text-color: #b8b8b8;
  --purple-color: #cb06d9;
  --yellow-color: #c1de04;
  --blue-color: #03bfee;
}
header,
main,
footer {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  color: var(--blue-color);
  font-size: calc(1.6rem + var(--font-scale));
  font-weight: 300;
  line-height: var(--line);
  margin: 0;
}
a {
  text-decoration: none;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
/* ANCHOR Classes */
.text-grey {
  color: var(--darker-text-color);
}
.text-purple {
  color: var(--purple-color);
}

.text-green {
  color: var(--yellow-color);
}

.link-purple {
  color: var(--purple-color);
}

.link-purple:hover {
  color: var(--main-bg-color);
  background-color: var(--purple-color);
}

.link-blue:hover {
  color: var(--main-bg-color);
  background-color: var(--blue-color);
}
.link-blue {
  color: var(--blue-color);
}
/* ANCHOR ID's */
#page-logo {
  cursor: pointer;
}
